---
const { name, description, techStack, githubRepo, imageUrl, liveDemo } =
  Astro.props;
---

<div class="p-3 border rounded-lg w-[340px] sm:w-auto lg:flex">
  
  <div class="lg:w-[50%]">
    <h2>{name}</h2>
    <div class="break-words mt-2">
      <h4>Description</h4>
      <p>{description}</p>
    </div>
    <div class="break-words mt-2">
      <h4 class="flex justify-between">Tech Stack <img class="w-[20px] me-3" src="/arrow-down.svg" alt=""></h4>
      <ul class="hidden">{techStack.map((el:string)=><li>{el}</li>)}</ul>
    </div>
    <div class="break-words mt-2">
      <h4>Links</h4>
      <ul class="flex">
        <li class="me-2"><a href={githubRepo}>GitHub</a></li>
        <li><a href={liveDemo}>· Website</a></li>
      </ul>
    </div>
  </div>
  <div class="lg:w-[50%] mt-4">
    <img  src={imageUrl} alt="image of project" />

  </div>
</div>
