---
const { name, description, techStack, githubRepo, imageUrl, liveDemo } =
  Astro.props;
---

<div class="p-3 border rounded-lg w-[340px] sm:w-auto">
  <img src={imageUrl} alt="image of project" />
  <div>
    <h2>{name}</h2>
    <div class="break-words">
      <h4>Description</h4>
      <p>{description}</p>
    </div>
    <div class="break-words">
      <h4>Tech Stack</h4>
      <p>{techStack}</p>
    </div>
    <div class="break-words">
      <h4>Links</h4>
      <ul>
        <li><a href={githubRepo}>GitHub</a></li>
        <li><a href={liveDemo}>Live Demo</a></li>
      </ul>
    </div>
  </div>
</div>
