---
const { name, description, techStack, githubRepo, imageUrl, liveDemo } =
  Astro.props;
import Link from "../assets/link.svg";
import Gear from "../assets/gear.svg";
import Document from "../assets/document.svg";
---

<div class="p-3 border rounded-lg w-[340px] sm:w-auto lg:flex">
  <div class="p-2 lg:w-[50%]">
    <h2 class="font-bold">{name}</h2>
    <div class="break-words mt-1 lg:mt-4">
      <h4 class="flex items-center">
        <Document class="w-[13px] me-2" />Description
      </h4>
      <p class="mt-2">{description}</p>
    </div>
    <div class="break-words mt-2 lg:mt-4">
      <h4 class="flex justify-between">
        <div class="flex items-center">
          <Gear class="w-[18px] me-1" />Tech Stack
        </div>
        <button class="drop-down">
          <img class="w-[20px] me-3" src="/arrow-down.svg" alt="arrow down" /></button
        >
      </h4>
      <ul id="tech-stack"  class="hidden">{techStack.map((el: string) => <li>· {el}</li>)}</ul>
    </div>
    <div class="break-words mt-1 lg:mt-4">
      <h4 class="flex items-center"><Link class="w-[15px] me-2" />Links</h4>
      <ul class="flex mt-2">
        <li class="me-2 hover:text-sky-400"><a href={githubRepo}>GitHub</a></li>
        <li class="hover:text-sky-400"><a href={liveDemo}>· Website</a></li>
      </ul>
    </div>
  </div>
  <div class="rounded-lg overflow-hidden mt-4 lg:w-[50%] lg:ms-3">
    <img src={imageUrl} alt="image of project" />
  </div>
</div>

<script>
  document.querySelector('.drop-down')!.addEventListener('click', () => {
    console.log("ckicked drowp down")
    document.querySelector('#tech-stack')!.classList.toggle('hidden');
  });
</script>
